ENKLUM_CONTAINER_NAME=enklum
ENKLUM_IMAGE_NAME=enklum-full
ENKLUM_IMAGE_TAG=latest
# ENKLUM_USERNAME=smith # TODO Should be set by image ARG
ENKLUM_HOME_VOLUME=enklum-home
ENKLUM_WORKSPACE_HOST_PATH=.

# TODO ...
ENKLUM_GIT_USER_NAME="Smith Black"
ENKLUM_GIT_USER_EMAIL="smith.black@mailer.com"

# TODO hx (helix), nvim (neovim), emacs, nano, vi
ENKLUM_DEFAULT_EDITOR=hx
TZ=Europe/Paris